<%- include('./reusable/admin_reusable') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Infinity Drones Pilot Portal</title>
      <script>
        var link = document.querySelector("link[rel~='icon']");
        if (!link) {
          link = document.createElement('link');
          link.rel = 'icon';
          document.head.appendChild(link);
        }
        link.href = 'https://i.imgur.com/4KBcfHV.png'; 
      </script>
    <style>
        body {
            background-color:white;
        }
        .topspace{
          margin-top: 5%;
        }
        
        .adddetails {
            text-align: center;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            line-height: 43px;
            text-align: center;
            color: #5C5992;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        form {
            margin: 20px auto;
            max-width: 700px;
            background-color: #fff;
            padding: 20px;
            border-radius: 4px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 638px;
            height: 900px;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 0px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 37px;
            color:black;
        }
        fieldset {
    margin-bottom: 20px; /* Adjust the spacing between fieldsets */
    padding: 12px; /* Add padding around fieldsets */
    border: 0px solid #f7f4f4; /* Add border to fieldsets */
    background-color: #f2f2f3; /* Set the background color of fieldsets */
    border-radius: 0px;}

    
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.input-container {
  display: flex;
  justify-content: space-between;
}
.input-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px; /* Adjust the gap between input fields */
}


.input-container input {
  width: 100%; /* Adjust the width of the input fields */
}
  .input-container input {
    margin: -4px; /* Adjust the spacing between the input fields */
  }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type='text'],input[type='email'],input[type='number'],select {
            width: 100%;
            padding: 5px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: px;
            box-sizing: border-box;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            color: #7F8685;
            background: rgb(255, 255, 255);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        input[type='date'],select {
            width: 100%;
            padding: 5px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: px;
            box-sizing: border-box;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #7F8685;
            background: rgb(255, 255, 255);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .button-container {
            display: flex;
            justify-content: space-evenly;
            margin-top: 10px;
        
}
        

        .button1, .button2 {
            display: inline-block;
            padding: 8px 16px;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
            width:100px;
            background: #5C5992;
            border: 3px solid #F5F5F5;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button[type="submit"]:hover {
            background-color: rgba(217, 217, 217, 0.17);
        }
    </style>
    
</head>
<body>
  <div class="topspace">
    <div class='adddetails'>
      Add Flight Details
    </div>
      
    <form action="/add_successful_flight_details" method="POST">
        
        <fieldset>
            <div class="input-container">
        <div>
            <label for="flight_id">Flight Id:</label>
            <input type="text" id="flight_id" name="flight_id" placeholder="Flight Id" value="<%=userId%>" readonly>
        </div>
        
        <div>
            <label for="emailid">Email ID:</label>
            <input type="email" id="emailid" name="emailid" placeholder="Email ID" required>
        </div>
    </div>
</fieldset>
<fieldset>
    <div class="input-container">
        <div>
            <label for="copilot">Copilot:</label>
            <input type="text" id="copilot" name="copilot" placeholder="Copilot" required>
        </div></div></fieldset>
        <fieldset>
            <div class="container">
        <div>
            <label for="duration">Flight Time:</label>
            <input type="number" id="duration" name="duration" placeholder="Duration" required>
        </div>
        <div>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" placeholder="Date" required>
        </div>
        <div>
            <label for="mode">Mode:</label>
            <input type="text" id="mode" name="mode" placeholder="Mode" required>
        </div>
    </div>
</fieldset>
<fieldset>
    <div class="input-container">
        <div>
            <label for="Batteryid">Battery ID:</label>
            <select name="batteryid" id="batteryid"> 
                <% batteries.forEach(option => { %>
                  <option value="<%= option.batteryid %>"><%= option.batteryid %></option>
                <% }); %>
              </select>
        </div>
        <div>
            <label for="drone_id">Type of drone:</label>
            <select name="drone_id" id="drone_id"> 
                <% options.forEach(option => { %>
                  <option value="<%= option.droneId %>"><%= option.droneName %></option>
                <% }); %>
              </select>
        </div>
    </div>
</fieldset>
<fieldset>
    <div class="input-container">
        <div>
            <label for="windspeed">Wind Speed:</label>
            <input type="text" id="windspeed" name="windspeed" placeholder="windspeed" required>
        </div>
        <div>
            <label for="direction">Wind Direction:</label>
            <select name="winddirection" id="winddirection"> 
                <% direction.forEach(option => { %>
                  <option value="<%= option.winddirection %>"><%= option.winddirection %></option>
                <% }); %>
              </select>
        </div>
        </div>
        </fieldset>
        <fieldset>
            <div class="input-container">
        <div>
            <label for="tovoltage">Take Off Voltage:</label>
            <input type="text" id="takeoffvoltage" name="takeoffvoltage" placeholder="Voltage" required>
        </div>
        <div>
            <label for="lvoltage">Landing Voltage:</label>
            <input type="text" id="landingvoltage" name="landingvoltage" placeholder="Voltage" required>
        </div>
        </div>
        </fieldset>
        
        <fieldset>
            <div class="input-container">
        <label>Successful Flight?</label>
        <div class="button-container">
           
            <button class='button1' type="submit" name="answer" value="yes" ONCLICK="alert('Succesfully Inserted Flight Details...')">Yes</button>
            <button class='button2' type="submit" name="answer"value="no">No</button>
        </div>
        </div>
        </fieldset>
        
    </form>
  </div>
</body>
</html>
